<h1>Issue-Tracker</h1>

<a href="/issue/new">
    <button>
        New Issue
    </button>
</a>

{{#each issues}}
<div>
    <a class="issue-item" href="/issue/{{_id}}">
        <div>Description</div>
        {{description}}
        <div>Date</div>
        {{createdAt}}
        <div>status</div>
        {{status}}
        <div>priority</div>
        {{priority}}
    </a>
</div>
{{/each}}